body
{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container
{
    width: 80%;
    margin: 0 auto;
}

header
{
    background: #008080;
}

header ::after 
{
    content: '';
    display: table;
    clear: both;
}

.logo 
{
    float: left;
}

nav
{
    float: right;
}